@model ElectrosLtdApplication.Models.FaultTrackModel

@{
    ViewBag.Title = "UpdateFault";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="height:100%;width:50%;float:left;padding:0; text-align: center;">
   
<table style="text-align:center; width:50%;">
    <tr>
        <th>
            Date
        </th>
        <th>
            Type
        </th>
        <th>
            Description
        </th>
        <th>
            FaultId
        </th>
    </tr>

@foreach (var item in Model.FaultTrackList) {
    <tr>
        <td>
           @{var d = Convert.ToDateTime(item.Date);}
             @{var d1 = d.ToShortDateString();} 
                @Html.DisplayFor(model => d1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaultId)
        </td>

    </tr>
}

</table>
</div>

<div id="update-message" style='color:red'>
    @ViewBag.Message
</div>
<div  style="height:100%;width:50%;float:right;padding:0; text-align: left;">
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
    <br />
        <legend>Fault</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description)
        </div>

        @Html.HiddenFor(model => model.FaultId)
        

      <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Type, ElectrosLtdApplication.Controllers.UpdateFaultController.GetDropDown(), "Select Status")
        </div>

        <p>
            <input type="submit" value="Create"  />
        </p>
    </fieldset>
    
}
</div>
