@model IEnumerable<Common.Product>

<div id="update-message" style='color:red'>
@ViewBag.Message
</div>

<table width="1024" style="text-align:center;" >
           <tr>
            <th>
                Name
            </th>
            <th>
                Features
            </th>
            <th>
                Image
            </th>
            <th>
                Stock
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
            <th>
               Date Listed
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Features)
                </td>
                <td style="text-align: center;">
                    @*<img width="150" height="150" src ='@Url.Content( "~/Images/"+@item.Image)' />*@
                    <img width="150" height="150" src ='@Url.Content(@item.Image)' />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                   <td>
                   
                   @{var d = Convert.ToDateTime(item.DateListed);}
             @{var d1 = d.ToShortDateString();} 
                @Html.DisplayFor(model => d1)
                </td>
                <td>
                    @Html.ActionLink("Details", "ProductDetails", new { id = item.ProductId })
                </td>
            </tr>

}

</table>